@import 'tailwindcss';
@import 'tw-animate-css';
@import '@repo/tailwind-config/theme.css';

@config '../../tailwind.config.ts';

@source '../../../../packages/ui/src/**/*.{ts,tsx}';

@plugin "tailwindcss-debug-screens" {
  classname: 'debug-screens';
  position: 'bottom, right';
  prefix: 'screen: ';
}

:root {
  --primary: oklch(0.5393 0.2713 286.7462);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.954 0.0063 255.4755);
  --secondary-foreground: oklch(0.1344 0 0);
  --accent: oklch(0.9393 0.0288 266.368);
  --accent-foreground: oklch(0.5445 0.1903 259.4848);
  --ring: oklch(0.5393 0.2713 286.7462);
  --success: oklch(0.7459 0.1483 156.4499);
  --success-foreground: oklch(1 0 0);
  --border: oklch(0.93 0.0094 286.2156);
}

.dark {
  --primary: oklch(0.6132 0.2294 291.7437);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.294 0.013 272.9312);
  --secondary-foreground: oklch(0.9551 0 0);
  --accent: oklch(0.2795 0.0368 260.031);
  --accent-foreground: oklch(0.7857 0.1153 246.6596);
  --ring: oklch(0.6132 0.2294 291.7437);
  --success: oklch(0.8003 0.1821 151.711);
  --success-foreground: oklch(0.15 0.02 145);
  --border: oklch(0.3289 0.0092 268.3843);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
